body {
    margin: 0;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;    
    background-color: #1F2937;
}
#title-accent{
    color: #4ADF86;
    display: block;
}
#wrapper{
    text-align: left;
    padding: 40px;
    max-width: 500px;
}
#title-main{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
#subtitle{
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #d1d5db;
}
#generate-btn{
    padding: 12px 24px;
    background-color: #10B981;
    color: #ffff;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 20px;
    
}
#generate-btn:hover{
    background-color: #0d9560;
    transition: background-color 0.3s ease, color 0.3s ease;
    transform: scale(0.98);
}
#password-one,#password-two{
    padding: 12px 24px;
    background-color: #273549;
    color: #55F991;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right:10px ;    
}
#password-one:hover, #password-two:hover {
    background-color: #1a3a3a;  
    transition: background-color 0.3s ease;
    transform: scale(0.98);
}
